<!DOCTYPE html>
<html lang="en">
  <head>
    <title>My First App</title>
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.css">    
    <link rel="stylesheet" href="/application.css">
    <!-- Google Fonts-->
    <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lobster|Gloria+Hallelujah' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Maven+Pro' rel='stylesheet' type='text/css'>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>    
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="/application.js"> </script>
  </head>
  <body style="padding-top: 60px;">

  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">    
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">        
        <% #@nav_class ='' %>
        <% #if !@player_name || @player_name.empty? %>
        <% # @nav_class ='disabled'%>
        <% #end %>        
        <!-- <li><a href="/player">Profile</a></li> -->
        <li><a href="/game/start_a_new_game" id="link_start_a_new_ga">Start_a_new_game</a></li>
      </ul>
    </div>
  </div>
  </nav>
  
  <div class="container">
    <%if @error %>
      <div class="alert alert-error"><%=@error%></div>
    <% end %>  
    <%= yield %>
  </div>


  </body>
</html>
