<div id="game_result" >
  <p><h3><span class="label label-danger"><strong><%= @player_win_or_lose %></strong></span></h3>             
         <button type="button" class="btn btn-default btn-s" id="player_play_again">Play again</button></p>
</div>  