
<div >
<h1>Hello, <strong><span style="color:blue;"><%= @player_name %><span></strong>. Welcome to Daniel's Casino.<br/>
You money is <span style='color:blue'>$<%= @account %></span>.

</h1>


<h1>Let's go to play <span style="color:red"><strong>Blackjack</strong></span> game ? <a href="/game" class="btn btn-primary btn-lg" role="button">Go! &raquo;</a></h1> 
</div>

<script> 
//$( document ).ready(function() {
//    #alert("okok-->wellcome.erb")
//});
</script>