body {

  font-family: 'Maven Pro', sans-serif;
}

.blackjack, .twentyone, .bursted {
  color: red;
  font-weight: bold;
}
 
.win_or_lose{
  color: red;
}


form#hit_form{
  float: left;
  margin-right: 5px;
}

form#stay_form{
  float: left;
}

