body {

  font-family: 'Maven Pro', sans-serif;
}
  
.blackjack, .twentyone, .busted {
  color: red;
  font-weight: bold;
}
 
.win_or_lose{
  color: red;
}


form#hit_form{
  float: left;
  margin-right: 5px;
}

form#stay_form{
  float: left;
}

.input_without_border{
    border: none;
}
.bet{
  width: 100px;
  font-size:16px;
}